<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="text-gray-400 bg-gray-900 body-font relative overflow-auto">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center bg-gray-900 top-0 z-10 fixed">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="/">
            {% load static %}
           <img src="{% static '/images/logo.svg' %}" width="179" height="50" alt="LOGO">
          </a>
          <nav class="md:ml-auto md:mr-auto flex  items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-white">Home</a>
            <a href="/wine" class="mr-5 hover:text-white">Wine</a>
            <a href="/vodka" class="mr-5 hover:text-white">Vodka</a>
            <a href="/champagne" class="mr-5 hover:text-white">Champagne</a>
            <a href="/beer" class="mr-5 hover:text-white">Beer</a>
            {% if user.is_authenticated %}
            <a href="/profile" class="mr-5 text-red-400 hover:text-white">{{username.capitalize}}</a>
            {% endif %}
          </nav>
          {% if user.is_authenticated %}
          <button type="submit" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0"><a href="/logOut">Logout
          </a>
          </button>

          {% else %}
          <button onclick="location.pathname='logIn/'" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Login
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
          {% endif %}
        </div>
      </header>
</body>
</html>